/* rgb(13, 70, 92) */
body{
    /* background-image:url("./images/background-C1.jpg"); */
    background-color:rgb(13, 70, 92);
    background-size:cover;
}
/* HeaderLine */
#logo{
    font-size:50px;
    font-weight:bold;
    font-family:'Times New Roman', Times, serif;
    color:white;
}
.headLine {
    border:2px solid black;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    
}
.subHeadLine{
    border:2px solid black;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;

}
