/* rgb(17, 90, 118) */
/* rgb(156, 223, 250) */
/* #DAD3B6 red */
/* #5C0120 white*/
*{
    /* v.0.0.1 */
    box-sizing:border-box;
    font-family:'Times New Roman', Times, serif;
    /*  */
}
body{
    /* v.0.0.1 */
    background-color:#DAD3B6;
    background-size:cover;
    margin:0px;
    padding:0px;
    /*  */
}
.logo{
    /* v.0.0.1 */
    color:aliceblue;
    font-size:30px;
    font-weight:bold;
    float:left;
    height:inherit;
    /* inherit covers the given header height */
    /* helloWorld sliding */
    position:relative;
    overflow:hidden;
    padding-left:20px;
    /*  */
}
.helloWorld{
    position:absolute;
    top:0;
    right:-100%;
    width:100%;
    height:100%;
    background:rgb(1, 52, 72);
    color:white;
    display:flex;
    align-items:center;
    justify-content:center;
    transition:right 0.5s ease;
}
.logo:hover .helloWorld{
    right:0;
}
.logo a{ 
    /* v.0.0.1 */
    position:relative;
    /* set relative positioning for proper alignment */
    top:9px;
    /*  */
}
header{
    /* v.0.0.1 */
    background:#5C0120;
    height:55px;
    /*  */
}
header ul{
    /* v.0.0.1 */
    padding:0px;
    margin:0px;
    float:right;
    list-style:none;
    /*  */
}
header ul li{
    /* v.0.0.1 */
    float:left;
    position:relative;
    /*  */
}
header ul li:hover ul{
    /* v.0.0.1 */
    display:block;
    /*  */
}
header ul li ul{
    /* v.0.0.1 */
    position:absolute;
    /* absolute sets vertical alignment to header ul li */
    display:none;
    background-color:rgb(25, 96, 124);
    /*  */
}
header ul li ul a:hover{
    /* v.0.0.1 */
    background-color:rgb(130, 130, 130);
    /*  */
}
header ul li ul li{
    /* v.0.0.1 */
    width:100%;
    text-align:center;
    /*  */
}

header ul li a{
    /* v.0.0.1 */
    display:block;
    /* none is to hide, block is to show */
    text-decoration:none;
    padding:18px;
    color:aliceblue;
    height:55px;
    /*  */
}   
header ul li a:hover{
    /* v.0.0.1 */
    background:rgb(26, 110, 146);
    transition:0.3s;
    /*  */
}
#menuBtn{
    color:white;
    background-color:rgba(0, 0, 0, 0);
    border:none;
    font-weight:bold;
    font-size:15px;
    padding:18px;
    display:none;
    height:55px;
}
@media screen and (max-width: 600px){
    .navigation{
        display:none;
    }
    #menuBtn{
        display:block;
        float:right;
        margin:-55px 0 0 0;
    }
    #menuBtn:hover{
        background-color:rgb(108, 187, 255);
    }
    .navActive{
        display:block;
    }
    .logo{
        float:none;
    }
    header ul{
        float:none;
    }
    header ul li{
        float:none;
        position:static;
    }
    header ul li ul {
        position:static;
    }
    header ul li ul li{
        text-align:left;
    }

}



