.main-content-wrapper{
    display:flex;
    justify-content:center;
    padding:50px 0px;
}
.main-content-wrapper .register-form{
    /* border:2px solid white; */
    height:400px;
    width:400px;
    display:flex;
    flex-direction:column;
    padding:50px 20px;
    background-color:#5C0120;
    border-radius:5px;
    gap:10px;
}

.main-content-wrapper .register-form label{
    color:#DAD3B6;
    font-size:20px;
}
.main-content-wrapper .register-form input{
    font-size:20px;
    padding:10px;
    background-color:#DAD3B6;
    border-color:aliceblue;
    border-radius:5px;
}
.main-content-wrapper .register-form #submit-btn{
    font-size:20px;
    font-weight:bold;
    padding:5px 10px;
    margin:10px 0px;
    width:100px;
    background-color:#DAD3B6;
    border-radius:5px;
    color:#5C0120;
    border-color:aliceblue;
}
.main-content-wrapper .register-form p{
    text-align:center;
    color:#DAD3B6;
}
.main-content-wrapper .register-form p a{
    color:#DAD3B6;
    border-bottom:2px solid aliceblue;
    transition:all 0.3s;
}
.main-content-wrapper .register-form p a:hover{
    padding-bottom:5px;
}
