.dashboard-wrapper{
    display:flex;
}
/* option-wrapper */
.dashboard-wrapper .option-wrapper{
    border:2px solid black;
    /* position */
    position:absolute;
    width:16%;
    height:calc(100% - 55px);
    /* decoration */
    background-color:rgba(92, 1, 31, 0.9);
}
.dashboard-wrapper .option-wrapper ul{
    /* position */
    padding:0;
    margin:0;
    /* decoration */
    list-style: none;
}
.dashboard-wrapper .option-wrapper ul li{
    /* position */
    padding:20px 30px;
    /* decoration */
    background-color:#5C0120;
    border-bottom:2px dashed #DAD3B6;
    /* transition */
    transition:all 0.3s;
}
.dashboard-wrapper .option-wrapper ul li:hover{
    /* decoration */
    background-color:rgb(62, 1, 32);
    border-bottom:2px solid #DAD3B6;
    /* transition */
    transition:all 0.3s;
}
.dashboard-wrapper .option-wrapper ul li a{
    /* position */
    padding:10px;
    /* decoration */
    font-size:17px;
    font-weight:bold;
    color:#DAD3B6;
}
/* option-screen */
.option-screen-wrapper{
    flex:8;
    height:100%;
    overflow-y:scroll;
}
.option-screen-wrapper{
    border:2px solid green;
    /* position */
    position:absolute;
    right:0px;
    width:84%;
    height:calc(100% - 55px);
    padding:5px 10px;
    /* decoration */
}
.option-screen-wrapper .post-manage .post-btn-group{
    border:2px solid purple;
    /* position */
    display:flex;
    gap:20px;
}
.option-screen-wrapper .post-manage .post-btn-group .add-post-btn,
.option-screen-wrapper .post-manage .post-btn-group .post-manage-btn{
    border:2px solid #DAD3B8;
    /* position */
    margin:20px;
    padding:15px 35px;
    /* decoration */
    font-size:20px;
    font-weight:bold;
    border-radius:5px;
    background-color:#5C0120;
    color:#DAD3B6;
    box-shadow:1px 1px 1rem 0.1rem #9a9581;
}
.option-screen-wrapper .post-manage .post-btn-group .add-post-btn:hover,
.option-screen-wrapper .post-manage .post-btn-group .post-manage-btn:hover{
    filter: brightness(150%) saturate(100%);
}
.option-screen-wrapper .post-manage .content{
    /* border:2px solid orange; */
    /* position */
    margin:0px 20px;

}
.option-screen-wrapper .post-manage .content h2{
    /* border:2px solid yellow; */
    /* position */
    text-align:center;

}
.option-screen-wrapper .post-manage .content table{
    /* border:2px dashed black; */
    /* position */
    width:100%;
    border-collapse:collapse;
    /* decoration */
    font-size:1.1rem;
}
.option-screen-wrapper .post-manage .content table thead th,
.option-screen-wrapper .post-manage .content table tbody tr td{
    padding:15px;
    text-align:left;
    border-bottom:1px solid black;
}
.option-screen-wrapper .post-manage .content table tbody tr td .edit{
    /* decoration */
    color:green
}
.option-screen-wrapper .post-manage .content table tbody tr td .delete{
    /* decoration */
    color:red;
}
.option-screen-wrapper .post-manage .content table tbody tr td .publish{
    /* decoration */
    color:blue;
}
.option-screen-wrapper .post-manage .content table tbody tr td .edit:hover,
.option-screen-wrapper .post-manage .content table tbody tr td .delete:hover,
.option-screen-wrapper .post-manage .content table tbody tr td .publish:hover{
    /* decoration */
    border-bottom:2px solid currentColor;
    /* transition */
    /* transition:all 0.3s; */
}
/* create.html */
.option-screen-wrapper .post-manage .content{
    border:2px solid grey;
}
.option-screen-wrapper .post-manage .content form div label{
    /* decoration */
    font-weight:bold;
    font-size:25px;
}
.option-screen-wrapper .post-manage .content form div input{
    /* position */
    width:100%;
    padding:10px;
    /* decoration */
    font-size:20px;
}
.option-screen-wrapper .post-manage .content form div textarea{
    /* positioin */
    min-width:100%;
    max-width:100%;
    min-height:200px;
}
